.button {
    display: inline-block;
    color: var(--c-main-text);
    text-align: center;
    padding: 15px 52px 15px 25px;
    background-color: var(--c-button);
    border-radius: 5px;
    font-weight: var(--fw8);
}

.button--default {
    padding: 15px 25px;
}

.button--oval {
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 37px;
    transition: background-color .5s;
}

.button--oval:not(:last-child) {
    margin-bottom: 25px;
    margin-right: 10px;
}

.button--oval:hover {
    background-color: var(--c-button);
    border: 1px solid var(--c-button);
    transition: background-color .5s;
}

@media (max-width: 900px) {
    .button--oval {
        display: block;
        margin-right: 0;
    }
}
