.tariffs {
    padding-bottom: 140px;
    background: var(--c-dark-bg);
}

.tariffs__item {
    position: relative;

    font-size: var(--fs-h5);
    color: var(--c-heading);
    padding: 50px 40px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
}

.tariffs__heading {
    margin-bottom: 35px;

    font-weight: bold;
    font-size: var(--fs-h3);
    line-height: 32px;
    text-transform: uppercase;
}

.tariffs__subheading {
    max-width: 165px;
    margin: 35px auto;
}

.tariffs__heading-price {
    font-size: var(--fs-h2);
    color: var(--c-button);
}

.tariffs__subheading-price {
    margin-bottom: 35px;

    color: var(--c-lite-bg);
}

.tariffs__button {
    display: block;
    margin-bottom: 35px;
}

.tariffs__service {
    position: relative;
    max-width: 247px;
    margin-left: 42px;

    text-align: left;
    font-weight: var(--fw6);
    font-size: var(--fs-paragraph);
    line-height: 24px;
}

.tariffs__service:not(:last-child) {
    margin-bottom: 20px;
}

.tariffs__service--available:before {
    position: absolute;
    content: "";
    top: -5px;
    left: -42px;
    display: block;
    width: 32px;
    height: 32px;
    background: url("../../img/available.png");
}

.tariffs__service--unavailable:before {
    position: absolute;
    content: "";
    top: -5px;
    left: -42px;
    display: block;
    width: 32px;
    height: 32px;
    background: url("../../img/unavailable.png")
}

.tariffs__item--new:after {
    position: absolute;
    top: -44px;
    right: 16px;
    content: "New";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #e77c40;
    color: #fff;
    font-weight: bold;
    font-size: var(--fs-h3);
    line-height: 32px;
}
