%flex-align {
  display: flex;
  align-items: flex-end;
}

.header {
  min-height: 100vh;

  background: url("../img/background.jpg") no-repeat center {
    size: cover;
  };

  position: relative;
  padding-top: 20px;

  @media (max-width: 900px) {
      height: auto;
      padding: {
      top: 0;
      bottom: 7px;
      };
      background: {
        repeat: no-repeat;
        size: cover;
        position: -1051px 396px;
      };
  }

  &__wrapper {
    @include flex-justify(space-between);
    margin-bottom: 145px;

    font-weight: $fw6;
    font-size: $fs-header-link;
    line-height: 24px;

    @media (max-width: 900px) {
      display: none;
    }

    &--mobile {
      display: none;

      @media (max-width: 900px) {
        @include flex-direction-align(space-between, column, center);
        margin-bottom: 96px;

        font: {
          size: $fs-mobile-nav;
          weight: normal;
        };

        line-height: 45px;
        background-color: $c-dark-bg;
      }
    }
  }

  &__services {
    @include flex-justify(space-between);
    width: 100%;
    max-width: 128px;
  }

  &__logo {
    padding-top: 16px;

    font-weight: bold;
    font-size: $fs-h3;
    line-height: 32px;
  }

  &__nav {
    width: 290px;
  }

  &__links {
    @include flex-justify(space-between);
    width: 308px;
  }

  &__link {
    padding-top: 16px;
  }

  &__link--arrow{
    position: relative;

    &::after {
      $height: 10px;
      $right-button-margin: 52px;

      position: absolute;
      top: calc(50% - (#{$height} / 2));
      right: calc(#{$right-button-margin} / 2);
      display: block;
      width: 12px;
      height: $height;
      content: '';
      background: url('../img/Vector(1).svg');
    }
  }

  &__slogan {
    max-width: 599px;
    margin-bottom: 35px;

    font-size: $fs-h1;
    font-weight: $fw8;
    line-height: 80px;

    @media (max-width: 900px) {
      max-width: 310px;

      font: {
        size: $fs-h2;
        weight: $fw5;
      };

      line-height: 57px;
      text-align: center;
    }
  }

  &__sub-slogan {
    max-width: 376px;
    margin-bottom: 35px;

    font-size: $fs-h4;
    font-weight: $fw5;

    @media (max-width: 900px) {
      max-width: 275px;
      margin-bottom: 40px;
      text-align: center;
    }
  }

  &__icons {
    width: 100%;
    @include flex-justify(space-around);
    margin-bottom: 100px;
  }

  &__services {
    @extend %flex-align;
  }

  &__service {
    $square-size: 24px;

    width: $square-size;
    height: $square-size;
    fill: $c-svg;
  }

  &__service-link {
    @extend %flex-align;

    &:hover {
      fill: $c-svg-hover;
    }
  }

  &__main {
    @media (max-width: 900px) {
      @include flex-direction-align(normal, column, center);
    }
  }
}
