.div {
    height: 1px;
}

.benefits {
    background-color: var(--c-dark-bg);
    padding: 136px 0;
}

.benefits__container {
    display: flex;
    justify-content: space-between;
    max-width: 955px;
}

.benefits__item {
    text-align: center;
}

.benefits__img {
    display: block;
    margin-bottom: 30px;
}

.benefits__heading {
    margin-bottom: 15px;
}

.benefits__description {
    max-width: 234px;

    font-weight: var(--fw5);
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 900px) {
    .benefits {
        padding: 120px 0;
    }

    .benefits__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .benefits__description {
        margin: 0 auto 110px auto;
    }
}
