.nav {
    padding-top: 16px;
}

.nav__mobile {
    padding-top: 0;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    transition: color .5s;
}

.nav__link:hover {
    color: var(--c-svg-hover);
    transition: color .5s;
}

.nav__list--mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav__item--mobile {
    margin-bottom: 30px;
}

.nav__link--mobile:hover {
    color: var(--c-svg-hover);
}
