.projects {
  padding: 112px 0;
  background: $c-dark-bg;

  &__container {
    max-width: 1410px;
    padding: 0 15px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: 30px 21px;
  }

  &__item {
    position: relative;
    max-width: 331px;
    padding: 278px 74px 18px 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%), url("/img/background-project-1.jpg") no-repeat center;
    background-size: cover;
    justify-self: center;

    &--second {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%), url("/img/background-project-2.jpg") no-repeat center;
      background-size: cover;
    }

    &--third {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%), url("/img/background-project-3.jpg") no-repeat center;
      background-size: cover;
    }

    &--fourth {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%), url("/img/background-project-4.jpg") no-repeat center;
      background-size: cover;
    }
  }

  &__heading {
    margin-bottom: 15px;

    font: {
      size: $fs-h6;
      weight: $fw6;
    }

    line-height: 24px;
  }

  &__subheading {
    margin-bottom: 15px;

    font: {
      size: $fs-h3;
      weight: $fw5;
    }

    line-height: 30px;
  }
}
