.appointment {
    padding: 90px 5px 90px 5px;
    background: linear-gradient(89.83deg, #FFFFFF 14.24%, #FFFFFF 14.25%, rgba(255, 255, 255, 0) 99.55%), url("../../img/form-background.jpg") no-repeat center;
    background-size: cover;
}

.appointment__introduction {
    margin-bottom: 40px;

    color: var(--c-dark-bg);
    flex-direction: column-reverse;
    align-items: start;
}

.appointment__form {
    max-width: 601px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.appointment__input {
    width: 280px;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 21px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    outline: none;
}

.appointment__input--select {
    -webkit-appearance: none;
    margin-right: 0;
}

.select__wrapper {
    position: relative;
}

.select__wrapper::before {
    position: absolute;
    top: 17px;
    right: 8px;
    z-index: 1;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-left: 2px solid #737373;
    border-bottom: 2px solid #737373;
    transform: rotate(-45deg);
}

.appointment__input::placeholder .appointment__textarea::placeholder {
    color: var(--c-sub-heading);
    font-weight: normal;
    font-size: var(--fs-paragraph);
    line-height: 28px;
}

.textarea__wrapper {
    width: 100%;
}

.appointment__textarea {
    width: 100%;
    padding: 16px 0 0 26px;
    border: 1px solid #e6e6e6;;
    border-radius: 10px;
    outline: none;
    resize: none;
}

@media (max-width: 900px) {
    .appointment__introduction {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .appointment__form {
        margin: 0 auto;
        justify-content: space-between;
    }
}

@media (max-width: 569px) {
    .appointment__form {
        justify-content: center;
    }

    .appointment__input {
        width: 100%;
    }

    .input__wrapper {
        width: 100%;
    }
}
