.benefits {
  background-color: $c-dark-bg;
  padding: 136px 0;

  @media (max-width: 900px) {
    padding: 120px 0;
  }

  &__container {
    @include justify(space-between);
    max-width: 955px;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__item {
    text-align: center;
  }

  &__img {
    display: block;
    margin-bottom: 30px;
  }

  &__heading {
    margin-bottom: 15px;

    font-size: $fs-h5;
    font-weight: $fw-5;
    line-height: 24px;
  }

  &__description {
    max-width: 234px;

    font-weight: $fw-5;
    font-size: $fs-paragraph;
    line-height: 20px;

    @media (max-width: 900px) {
      margin: 0 auto 110px auto;
    }
  }
}
