.consulting {
  background: $c-main-bg;
  padding: 40px 0;

  &__container {
    @include justify(space-between);

    padding: 0 5px;

    @media (max-width: 900px) {
      max-width: 50%;
      flex-direction: column;
      align-items: center;
      padding: 0 5px;
    }
  }

  &__introduction {
    display: block;
    max-width: 475px;
  }

  &__heading {
    font: {
      size: $fs-h3;
      weight: bold;
    }

    line-height: 32px;
    color: $c-dark-bg;
  }

  &__paragraph {
    text-align: left;

    @media (max-width: 900px) {
      margin-bottom: 50px;
    }
  }

  &__button {
    display: block;
    max-width: 160px;
    align-self: center;

    @media (max-width: 900px) {
      align-self: start;
    }
  }
}
