%flex-align {
  display: flex;
  align-items: flex-end;
}

.header {
  $bottom-margin: 96px;

  min-height: 100vh;

  background: url("../img/background.jpg") no-repeat center {
    size: cover;
  };

  position: relative;
  padding-top: 20px;

  @media (max-width: 900px) {
      height: auto;
      padding: {
      top: 0;
      bottom: $bottom-margin;
      };
      background: {
        repeat: no-repeat;
        size: cover;
        position: -1051px 396px;
      };
  }

  &__wrapper {
    @include justify(space-between);
    margin-bottom: 145px;

    font-weight: $fw-6;
    font-size: $fs-header-link;
    line-height: 24px;

    @media (max-width: 900px) {
      display: none;
    }

    &--mobile {
      display: none;

      @media (max-width: 900px) {
        @include justify-direction-align(space-between, column, center);
        margin-bottom: $bottom-margin;

        font: {
          size: $fs-mobile-nav;
          weight: normal;
        };

        line-height: 45px;
        background-color: $c-dark-bg;
      }
    }
  }

  &__services {
    @include justify(space-between);
    width: 100%;
    max-width: 128px;
  }

  &__logo {
    padding-top: 16px;

    font-weight: bold;
    font-size: $fs-h3;
    line-height: 32px;

    &-link {
      transition: color .5s;

      &:hover {
        color: $c-svg-hover;
        transition: color .5s;
      }
    }
  }

  &__nav {
    width: 290px;
  }

  &--link {
    padding-top: 16px;
  }

  &__links {
    @include justify(space-between);
    width: 308px;
  }

  &__slogan {
    max-width: 599px;
    margin-bottom: 35px;

    font-size: $fs-h1;
    font-weight: $fw-8;
    line-height: 80px;

    @media (max-width: 900px) {
      max-width: 310px;

      font: {
        size: $fs-h2;
        weight: $fw-5;
      };

      line-height: 57px;
      text-align: center;
    }
  }

  &__sub-slogan {
    max-width: 376px;
    margin-bottom: 35px;

    font-size: $fs-h4;
    font-weight: $fw-5;

    @media (max-width: 900px) {
      max-width: 275px;
      margin-bottom: 40px;
      text-align: center;
    }
  }

  &__icons {
    width: 100%;
    @include justify(space-around);
    margin-bottom: 100px;
  }

  &__services {
    @extend %flex-align;
  }

  &__service {
    $square-size: 24px;

    width: $square-size;
    height: $square-size;
    fill: $c-svg;
  }

  &__service-link {
    @extend %flex-align;

    &:hover {
      fill: $c-svg-hover;
    }
  }

  &__main {
    @media (max-width: 900px) {
      @include justify-direction-align(normal, column, center);
    }
  }
}
