.useful-links {
  padding: 50px 0;
  background: $c-dark-bg;
  color: $c-main-text;

  &__container {
    padding: 0 5px;
    @include justify(space-between);

    @media (max-width: 900px) {
      padding-left: 87px;
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    margin-bottom: 20px;

    font: {
      size: $fs-h5;
      weight: bold;
    };

    line-height: 24px;
  }

  &--link {
    margin-bottom: 20px;

    font: {
      size: $fs-paragraph;
      weight: $fw-6;
    };
  }
}
