$c-button: #23a6f0;
$c-svg-hover: #23a6f0;
$c-main-text: #fff;
$c-header-text: #fff;
$c-svg: #fff;
$c-heading: #000;
$c-sub-heading: #737373;
$c-dark-bg: #252b42;
$c-lite-bg: #8ec2f2;
$c-main-bg: #fafafa;

$fs-58-px: 58px;
$fs-40-px: 40px;
$fs-30-px: 30px;
$fs-24-px: 24px;
$fs-20-px: 20px;
$fs-16-px: 16px;
$fs-14-px: 14px;


$fs-h1: $fs-58-px;
$fs-h2: $fs-40-px;
$fs-h3: $fs-24-px;
$fs-h4: $fs-20-px;
$fs-h6: $fs-16-px;
$fs-h5: $fs-16-px;
$fs-mobile-nav: $fs-30-px;
$fs-main: $fs-16-px;
$fs-paragraph: $fs-14-px;
$fs-header-link: $fs-14-px;

$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
