:root {
    --c-button: #23a6f0;
    --c-svg-hover: #23a6f0;
    --c-main-text: #fff;
    --c-header-text: #fff;
    --c-svg: #fff;
    --c-heading: #000;
    --c-sub-heading: #737373;
    --c-dark-bg: #252b42;
    --c-lite-bg: #8ec2f2;
    --c-main-bg: #fafafa;

    --fs-h1: 58px;
    --fs-h2: 40px;
    --fs-h3: 24px;
    --fs-h4: 20px;
    --fs-h6: 16px;
    --fs-h5: 16px;
    --fs-mobile-nav: 30px;
    --fs-main: 16px;
    --fs-paragraph: 14px;
    --fs-header-link: 14px;

    --fw4: 400;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;
}
