.comments {
    background-color: var(--c-lite-bg);
    padding: 112px 5px 145px 5px;
}

.comments__introduction {
    margin-bottom: 120px;
}

.comments__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: 30px 137px;
}

.comments__item {
    padding: 30px 40px;
    background: #fff;
}

.comments__heading {
    font-weight: bold;
    font-size: var(--fs-h3);
    color: var(--c-dark-bg);
    line-height: 32px;
}

.comments__sub-heading {
    margin-bottom: 15px;

    font-weight: var(--fw6);
    font-size: var(--fs-h6);
    line-height: 24px;
    color: var(--c-sub-heading);
}

.comments__stars {
    display: flex;
    margin-bottom: 15px;
}

.comments__star {
    width: 22px;
    height: 22px;
}

.comments__star:not(:last-child) {
    margin-right: 5px;
}

.comments__star--full {
    background: url("../../img/fullstar.svg") no-repeat center;
}

.comments__star--empty {
    background: url("../../img/emptystar.svg") no-repeat center;
}

.comments__description {
    max-width: 370px;

    font-weight: var(--fw5);
    font-size: var(--fs-paragraph);
    line-height: 20px;
    color: var(--c-sub-heading);
}
